body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c7c7c7;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

.pages-container {
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    width: 1500px !important;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=file], select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=file]:focus, select:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

/* set form error msg styles */
.registration-error {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.22);
    color: #490404;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: none;
}

/* set form error msg styles */
.error-msg {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.22);
    color: #490404;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
}

/* set form success msg styles */
.success-msg {
    width: 100%;
    height: 50px;
    background-color: rgba(83, 154, 21, 0.22);
    color: rgb(23 36 11 / 83%);
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
}

.student-photo {
    width: 180px;
    margin-bottom: 20px;
}

.left-nav {
    margin-top: 8rem;
}

.left-nav ul {
    list-style: none;
    padding-inline-start: 0 !important;
}

.left-nav ul li {
    list-style: none;
    text-transform: uppercase;
    width: 100px;
    margin-top: 15px;
    text-decoration: none;
    border-bottom: 2px solid #023860;
    background-color: #89c1f159;
    padding: 10px;
    min-width: 180px;
    border-radius: 3px;
}

.left-nav ul li:hover {
    border-bottom: 2px solid #0179d2;
}

.left-nav ul li.active {
    border-bottom: 2px solid #023860;
    background-color: rgb(57 158 241);
    color: #fff !important;
}

.left-nav ul li.active a {
    color: #fff !important;
}

.left-nav ul li a {
    text-decoration: none;
    font-weight: 600;
}

.left-nav ul li a:hover {
    color: #000305;
}

.add-button {
    background: #007eff;
    padding: 10px;
    min-width: 150px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    text-align: center;
    right: 30px;
    text-decoration: none;
    font-weight: 600;
}

.add-button:hover {
    background: rgba(0, 126, 255, 0.82);
    text-decoration: none;
    color: #000305;
}

table {
    margin-top: 4rem;
}